<h1>Editing Artist</h1>

<%= render 'form' %>



<p>
  <%= link_to @artist do %>
  <span class="glyphicon glyphicon-ok"></span> Show
   <%end %>
   &nbsp;
   <%= link_to artists_path do  %>
   <span class="glyphicon glyphicon-backward"></span> Back
   <% end %>
 </p>
